.chat-container {
    max-width: 800px;
    margin: 0 auto;
    padding: 20px;
    height: 100vh;
    display: flex;
    flex-direction: column;
}

h3{
    color: #fff;
}

#messages {
    flex: 1;
    overflow-y: auto;
    border: 1px solid #ddd;
    padding: 10px;
    margin-bottom: 10px;
}

.message {
    margin: 10px 0;
    padding: 10px;
    border-radius: 8px;
}

.sent {
    background-color: #dcf8c6;
    align-self: flex-end;
}

.received {
    background-color: #ececec;
    align-self: flex-start;
}

.user-list {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.user-card {
    padding: 15px;
    border: 1px solid #ddd;
    border-radius: 8px;
    cursor: pointer;
}

.user-card:hover {
    background-color: #08831b;
}

@media screen and (max-width:991) {
    .chat-container{
        height: 10vh;
    }
}